

.main
{
   // background-color:red;
    height:200px;
    width:100%;
    float:left;
}

.card
{
    width:50%;
    height:150px;
    background-color:purple;
    padding:20px;
    border:2px solid white;
    float:left;
    margin-top:20px;
    margin-left:20px;
}
.card p{
    color:white;
}