header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

ul {
  display: flex;
  gap: 50px;

  li {
    padding-top: 5px;
    list-style-type: none;
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
    .active {
      color: red;
      text-decoration-color: red;
      text-decoration: underline;
      text-underline-offset: 10px;
    }
  }
}

.btn {
  padding: 8px 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}
