.child3 {
    background-color: red;
    margin: auto;
    width: 80%;
    height: 80%;
    color: white;
    text-align: center;
}


.child2{
    background-color: blue;

}

.child3{
    background-color: green;
}